.body-projects {
  display: grid;
  max-width: 12vw;
  max-height: 100dvw;
  transform: translate(0%, -14%) scale(0.28);
}
/* ── Verrtical Ipad ── */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .body-projects {
    position: absolute;
    margin-top: 22rem;
    left: 42%;
    transform: translate(-350%, -50%) scale(0.6);
    margin-bottom: 14rem;
  }
}

/* ── Horizontal Ipad ── */
@media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .body-projects {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-376%) scale(0.8);
    margin-bottom: 14rem;
  }
}

/* ── Large Screens ── */
@media (min-width: 1200px) {
  .body-projects {
    transform: scale(1);
    margin-top: 8rem;
    margin-bottom: 14rem;
  }
}

.projects-container {
  width: 100%;
  height: auto;
}
