/* =============== GLOBAL FONTS =============== */

@font-face {
  font-family: "nippo";
  src: url(./assets/fonts/Nippo-Medium.otf);
}

@font-face {
  font-family: "Titles";
  src: url(./assets/Fonts/PlayfairDisplay.ttf);
}

@font-face {
  font-family: "Big-Titles";
  src: url(./assets/fonts/BlackpastDEMO.ttf);
}

@font-face {
  font-family: "sign";
  src: url(./assets/fonts/Ramsoneth.otf);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body,
#root {
  background: #000;
  min-height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --clr-light: #ffffff;
  --clr-dark: #d1d1d1;
  --clr-subtle: #cecece;
  --clr-bg-soft: #7d83831f;
  --clr-border: #fafafa10;
  --blur: blur(0.5rem);
  --radius-base: 25px;
  --radius-lg: 3vw;
  --radius: 0.625rem;
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
html {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.bg-space {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
